[user]
  email = toporovskyy.y@gmail.com
  name = Yuriy Toporovskyy

[winUpdater]
  recentlySeenVersion = 2.16.1.windows.1

[core]
  editor = emacsclient -t -a=\\\"\\\"
  autocrlf = true
  pager = `test \"$TERM\" = \"dumb\" && echo cat || echo less`
  showbranch = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
  ls-ignored = !"f(){ source ~/.gitaliases; git_ls_ignored $@; }; f"
  ls-untracked = !"f(){ source ~/.gitaliases; git_ls_untracked $@; }; f"
  pristine = !"f(){ source ~/.gitaliases; git_pristine $@; }; f"
  gc-all = !"f(){ source ~/.gitaliases; git_gc_all $@; }; f"
  log-new = !"f(){ source ~/.gitaliases; git_log_new $@; }; f"
  ref2hash = !"f(){ source ~/.gitaliases; git_ref2hash $@; }; f"
  add-to-commit = !"f(){ source ~/.gitaliases; git_add_to_commit $@; }; f"
  diffw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
  checkout-modified = !"f(){ source ~/.gitaliases; git_checkout_modified $@; }; f"
  add-modified = !"f(){ source ~/.gitaliases; git_add_modified $@; }; f"
  log-st = log --name-status
  lock = lfs lock
  unlock = lfs unlock
  ls-locks = lfs locks

[lfs]
  skipdownloaderrors = true

[credential]
  helper = wincred

[color]
  ui = true
  branch = true
  diff = true
  interactive = true
  status = true
  grep = true
  pager = true
  decorate = true
  
[push]
  default = matching  

[pull]
  rebase = true